# -*- mode: conf; -*-

PermitRootLogin no              # No root logins

PasswordAuthentication yes
PermitEmptyPasswords no

# Restrict privileges of child processes
UsePrivilegeSeparation sandbox

# Use PAM for authentication, and disable the motd, because PAM does that
# already
UsePAM yes
PrintMotd no
