[submodule "emacs/.cask"]
	path = emacs/.cask
	url = https://github.com/cask/cask.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/lunaryorn/stante-pede.git
[submodule "zsh/.zsh.d/plugins/history-substring-search"]
	path = zsh/.zsh.d/plugins/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.zsh.d/plugins/syntax-highlighting"]
	path = zsh/.zsh.d/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh.d/plugins/completions"]
	path = zsh/.zsh.d/plugins/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zsh.d/plugins/zshfunctions"]
	path = zsh/.zsh.d/plugins/zshfunctions
	url = https://github.com/lunaryorn/zshfunctions.git
