[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "emacs/.cask"]
	path = emacs/.cask
	url = https://github.com/cask/cask.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/lunaryorn/stante-pede.git
[submodule "puppets/modules/stdlib"]
	path = puppets/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
